* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Comfortaa', cursive;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  header {
    margin-bottom: 55px;

    h1 {
      color: rgb(65, 65, 65);
      font-size: 35px;
      text-align: center;
    }
  }

  form {
    width: 100%;

    input[type="text"] {
      font-family: 'Comfortaa', cursive;
      font-size: 25px;
      padding: 5px 10px;
      width: 50%;
      margin-bottom: 20px;
      border-radius: 5px;
      border: solid 1px rgb(207, 207, 207);
      outline-color: rgb(240, 142, 76);
      @media screen and (max-width: 550px){
        width: 80%;
          font-size: 20px;
      }
      @media screen and (max-width: 1199px){
          font-size: 20px;
      }
    }

    input[type="submit"] {
      background: rgb(240, 142, 76);
      border-radius: 5px;
      border: solid 1px rgb(207, 207, 207);
      padding: 10px 25px;
      &:hover{
        background: rgb(236, 236, 236);
        color: rgb(240, 142, 76);
        border: solid 1px rgb(240, 142, 76);
      }
    }
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section{
    display: flex;
    flex-direction: column;
    align-items: center;
    #searchWord{
      display: none;
      justify-content: space-around;
      margin-bottom: 35px;
      .searchLetter{
        text-align: center;
        min-width: 15px;
        margin-left: 5px;
        text-transform: capitalize;
        border-bottom: solid 1px rgb(60, 60, 60);
      }
    }
    #buttons{
      display: none;
      justify-content: center;
      width: 60%;
      flex-wrap: wrap;
      button{
        padding: 10px 15px;
        background-color: rgb(240, 142, 76);
        border: solid 1px rgb(207, 207, 207);
        &:hover{
          background: rgb(236, 236, 236);
          color: rgb(240, 142, 76);
          border: solid 1px rgb(240, 142, 76);
        }
      }
    }
    #error{
      width: 100vw;
      padding: 20px 50px;
      display: none;
      #errorMade{
        color: rgb(255, 8, 0);
      }
      .falseLetters{
        background-color: rgb(182, 143, 5);
      }
      #errorLeft{
        color: rgb(24, 173, 6);
      }
      @media screen and (max-width: 1199px){
        padding: 20px 30px;
      }
    }
  }
}
